.contact {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  position: fixed;
  pointer-events: none;
  top: 0;
  z-index: 99;
}
.contact.active {
  opacity: 1;
  pointer-events: auto;
}
.contact-close {
  position: absolute;
  right: 20px;
  top: 20px;
  transition: opacity 0.2s ease;
}
.no-touch .contact-close:hover {
  opacity: 0.5;
}
.no-touch .email-text:hover {
  opacity: 0.5;
}
.no-touch .social-link:hover {
  opacity: 0.5;
}
@media (min-width: 480px) {
  .contact-close {
    right: 40px;
  }
}
@media (min-width: 992px) {
  .contact-close {
    top: 30px;
  }
}
@supports (-webkit-touch-callout: none) {
  .contact {
    height: 100dvh;
  }
}
/* Mailchimp Embed Form */
#mc_embed_shell {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
#mc_embed_signup {
  max-width: 400px;
  width: 100%;
}
#mc_embed_signup div.mce_inline_error {
  background-color: transparent;
  color: var(--red);
  font-size: 13px;
  font-weight: 300;
  left: 0;
  line-height: 1.2;
  padding: 10px 0 0;
  position: absolute;
  top: 100%;
}
#mc_embed_signup input.mce_inline_error {
  border-color: var(--red);
}
#mce-responses {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 30px;
}
#mc-embedded-subscribe {
  overflow: hidden;
  width: 100px;
}
.mc-field-group {
  display: flex;
  gap: 10px;
  position: relative;
}
.mc-text-field {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  flex: 1 1 auto;
  height: 38px;
  outline: none;
  padding: 2px 10px;
}