.episodes .episodes-video {
  opacity: 1;
}
.episodes .episodes-preview {
  display: none;
  transition: opacity 0.2s ease;
}
.episodes .swiper-wrapper {
  gap: 0;
}
.episodes .swiper-slide {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.episodes .swiper-slide .icon-play {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.episodes .swiper-slide .overlay {
  transition: opacity 0.2s ease;
}
.episodes .swiper-slide-active {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 9;
}
.episodes .swiper-slide-active .icon-play {
  opacity: 1;
}
.episodes .swiper-slide-active .overlay {
  opacity: 0;
}
.episodes .swiper-slide-active .episodes-video {
  opacity: 1;
}
.episodes.swiper-viewed .swiper-slide-active .episodes-preview {
  opacity: 0;
  pointer-events: none;
}
.episodes-player .video-controls {
  padding: 0;
}
.episodes-player .video-controls .fullscreen-btn {
  display: none;
}
.no-touch .episodes .episodes-video {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.no-touch .episodes-preview {
  display: flex;
}
.no-touch .episodes-nav-btn {
  transition: opacity 0.2s ease;
}
.no-touch .episodes-nav-btn:hover {
  opacity: 0.5;
}
.no-touch .swiper-slide .icon-background {
  transition: transform 0.2s ease;
}
.no-touch .swiper-slide:hover .icon-background {
  transform: scale(1.2);
}