.modal {
  transition: opacity 0.3s ease;
}
.modal.active {
  opacity: 1;
  pointer-events: auto;
}
.modal-close {
  position: absolute;
  right: 20px;
  top: 30px;
  transition: opacity 0.2s ease;
  z-index: 99;
}
.no-touch .modal-close:hover {
  opacity: 0.5;
}
@media (min-width: 480px) {
  .modal-close {
    right: 40px;
  }
}
@media (min-width: 992px) {
  .modal-close {
    top: 35px;
  }
}
@supports (-webkit-touch-callout: none) {
  .modal {
    height: 100dvh;
  }
}