.project-thumbs .swiper-slide {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}
.project-thumbs .swiper-slide-playing {
  opacity: 1;
}
.project-thumbs .swiper-slide-playing::before, 
.project-thumbs .swiper-slide-playing::after {
  background: var(--white);
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transition: opacity 0.2s ease;
  width: 100%;
}
.project-thumbs .swiper-slide-playing::before {
  opacity: 0.3;
  z-index: 1;
}
.project-thumbs .swiper-slide-playing::after {
  animation: progress 11s linear;
  z-index: 2;
}
.project-thumbs .swiper-slide-prev {
  opacity: 0;
}
.project-thumbs-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 190px !important;
}
.project-thumbs-nav .swiper-pagination-bullet {
  background-color: var(--white);
  height: 4px;
  opacity: 0.5;
  transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease;
  width: 4px;
}
.project-thumbs-nav .swiper-pagination-bullet-active {
  height: 10px;
  opacity: 1;
  width: 10px;
}
.no-touch .project-thumbs .swiper-slide:hover{
  opacity: 1;
}
.no-touch .more-videos-link .icon-background {
  transition: transform 0.2s ease;
}
.no-touch .more-videos-link:hover .icon-background {
  transform: scale(1.1);
}
@media (min-width: 480px) {
  .project-thumbs-nav {
    width: 250px !important;
  }
}
@media (min-width: 768px) {
  .project-thumbs-nav {
    width: 300px !important;
  }
}
@media (min-width: 992px) {
  .project-thumbs-nav {
    width: 250px !important;
  }
}
@media (min-width: 1920px) {
  .project-thumbs-nav {
    width: 330px !important;
  }
}