.project-thumbs .swiper-slide {
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.project-thumbs .swiper-slide .overlay {
  transition: opacity 0.2s ease;
}
.project-thumbs .swiper-slide-active .overlay {
  opacity: 0;
}
.project-thumbs .swiper-slide-loading {
  opacity: 1;
}
.project-thumbs .swiper-slide::before, 
.project-thumbs .swiper-slide::after {
  background: var(--white);
  bottom: -2px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transition: bottom 0.2s ease, opacity 0.2s ease;
  width: 100%;
}
.project-thumbs .swiper-slide-loading::before,
.project-thumbs .swiper-slide-loading::after {
  bottom: 0;
}
.project-thumbs .swiper-slide-loading::before {
  opacity: 0.3;
  z-index: 1;
}
.project-thumbs .swiper-slide-loading::after {
  animation: progress 11s linear;
  z-index: 2;
}
.project-thumbs-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 190px !important;
}
.project-thumbs-nav .swiper-pagination-bullet {
  background-color: var(--white);
  height: 4px;
  opacity: 0.5;
  transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease;
  width: 4px;
}
.project-thumbs-nav .swiper-pagination-bullet-active {
  height: 10px;
  opacity: 1;
  width: 10px;
}
.no-touch .project-thumbs .swiper-slide:hover .overlay {
  opacity: 0;
}
@media (min-width: 480px) {
  .project-thumbs-nav {
    width: 250px !important;
  }
}
@media (min-width: 768px) {
  .project-thumbs-nav {
    width: 300px !important;
  }
}
@media (min-width: 992px) {
  .project-thumbs-nav {
    width: 250px !important;
  }
}
@media (min-width: 1920px) {
  .project-thumbs-nav {
    width: 330px !important;
  }
}
@supports (-webkit-touch-callout: none) {
  .projects {
    height: 100dvh;
  }
}
.project-thumbs .swiper,
.project-thumbs .swiper-wrapper {
  gap: 0;
  margin: 0;
}
.project-thumbs .swiper-slide {
  margin-right: 0 !important;
  opacity: 0;
}
.project-thumbs .swiper-slide-active,
.project-thumbs .swiper-slide-active ~ .swiper-slide {
  opacity: 1;
}